<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user %> has purchased <%= @owner%>'s <%= @subclass%></h1>
    <p>
      The <%= @subclass %> at <%= @address %> has been purchased.
    </p>
  </body>
</html>