<div class="container pt-5">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8 d-flex justify-content-center">
            <%= form_with(model: @building, method: :create, html: {class: "form-horizontal", role: "form"}, local: true) do |f| %>
                <div class="form-group form-inline pb-3" id="subclass-asset-form">
                    <%= f.label "subclass" %>
                    <%= f.select :subclass, Building.subclasses.keys, include_blank: true, :html => {:class => "form-control"} %>
                </div>
                <div class="form-group" id="owner-asset-form">
                    <%= f.label "owner" %>
                    <%= f.text_field :owner %>
                </div>
                <div class="form-group" id="address-asset-form">
                    <%= f.label "address" %>
                    <%= f.text_field :address %>
                </div>
                <div class="form-group" id="price-asset-form">
                    <%= f.label "price" %>
                    <%= f.number_field :price, step: :any%>
                </div>
                <div class="form-group" id="sqmt-asset-form">
                    <%= f.label "sqmt" %>
                    <%= f.number_field :sqmt %>
                </div>
                <div class="form-group" id="rooms-asset-form" style="display: none" disabled>
                    <%= f.label "rooms" %>
                    <%= f.number_field :rooms %>
                </div>
                <div class="form-group" id="floors-asset-form" style="display: none" disabled>
                    <%= f.label "floors" %>
                    <%= f.number_field :floors %>
                </div>
                <div class="form-group" id="aircon-asset-form" style="display: none" disabled>
                    <%= f.label "air conditioning" %>
                    <%= f.check_box :air_cond %>
                </div>
                
                <div class="form-group" id="units-asset-form" style="display: none" disabled>
                    <%= f.label "units" %>
                    <%= f.number_field :units %>
                </div>
                <div class="form-group" id="shops-asset-form" style="display: none" disabled>
                    <%= f.label "shops" %>
                    <%= f.number_field :shops %>
                </div>
                <div class="form-group" id="parking-asset-form" style="display: none" disabled>
                    <%= f.label "parking" %>
                    <%= f.number_field :parking%>
                </div>
                <div class="form-group">
                    <%= f.file_field :image %>
                </div>
                <div class="form-group">
                    <%= f.submit 'Add Building', class: "btn btn-primary"  %> 
                </div>
            <% end %>
        </div>
        <div class="col-2">
        </div>
    </div>
</div>

<div>

<script>
$('select').on('change', function() {
  if (this.value == "house"){

  $('#rooms-asset-form').show()
  $('#floors-asset-form').show()
  $('#aircon-asset-form').show()
  $('#units-asset-form').hide()
  $('#units-asset-form').prop('disabled', true);
  $('#shops-asset-form').hide()
  $('#shops-asset-form').prop('disabled', true);
  $('#parking-asset-form').hide()
  $('#parking-asset-form').prop('disabled', true);

  }
   
  else if (this.value == "complex_building"){

  $('#rooms-asset-form').hide()
  $('#rooms-asset-form').prop('disabled', true);
  $('#floors-asset-form').hide()
  $('#floors-asset-form').prop('disabled', true);
  $('#aircon-asset-form').hide()
  $('#aircon-asset-form').prop('disabled', true);
  $('#units-asset-form').show()
  $('#shops-asset-form').hide()
  $('#shops-asset-form').prop('disabled', true);
  $('#parking-asset-form').hide()
  $('#parking-asset-form').prop('disabled', true);

  }
    
  else if (this.value == "commercial_unit"){

  $('#rooms-asset-form').hide()
  $('#rooms-asset-form').prop('disabled', true);
  $('#floors-asset-form').hide()
  $('#floors-asset-form').prop('disabled', true);
  $('#aircon-asset-form').hide()
  $('#aircon-asset-form').prop('disabled', true);
  $('#units-asset-form').hide()
  $('#units-asset-form').prop('disabled', true);
  $('#shops-asset-form').show()
  $('#parking-asset-form').show()

  }
    
  

});
</script>